# DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/mahapredict_dev
# SECRET_KEY=your-super-secret-key-change-me
# ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://your-frontend-domain.com
# ENVIRONMENT=development
# REDIS_URL=redis://localhost:6379/0

# For production deployment provider
# DATABASE_URL=postgresql+psycopg://user:password@host:5432/dbname
# REDIS_URL=redis://host:6379/0
# ALLOWED_ORIGINS=https://your-production-domain.com

DATABASE_URL=postgresql://postgresHowimetyourmother@321@db.bxztoryknmcwpdmiwthx.supabase.co:5432/postgres
SECRET_KEY=8b90d291d6c3471eae2a2b76f8f8ad0c098b6d013089fb1ff8c2b4c4d58f0e1a
ALLOWED_ORIGINS=https://mahapredict-app.vercel.app
ENVIRONMENT=production
REDIS_URL=